@import-normalize;

@import "./variables.scss";
@import "./fonts.scss";
@import "./typography.scss";

//Small screens - MOBILE
//max-width 640px, small screens
@media only screen {
  * {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    @include font-type();

    height: 100%;
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $mediumScreen) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $largeScreen) {
}

//XLarge screens
@media only screen and (min-width: $xLargeScreen) {
}

//XXLarge screens
@media only screen and (min-width: $xxLargeScreen) {
}
